{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<p>This site exists so that I can learn how to make websites using Django. It is the first one that I'll be making and will serve as a blog / playground for future web app experiments</p>
<p>meowFlute is my programming handle, in reality my name is Michael Scott Christensen</p>
<p>If you want to know more about the origin of the name meowFlute, search "meow flute bubblegum octopus" on youtube. I think that song is hilariously bizarre and found it by searching "meow" on grooveshark my freshman year of college</p>

{% endblock %}
